<div class=" py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Pagina inicial</h1>
            <p class="col-md-8 fs-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde ex eius ut suscipit dolorum inventore quod animi debitis nobis aut, rem quae architecto cumque nostrum nulla, quos, quasi dolores numquam.
            </p>
            <button class="btn btn-primary btn-lg" routerLink="/filmes" type="button">Filmes</button>
        </div>
    </div>   
</div>